<div class="upper-section">
    <div class="title">
        <span class="title-text">About</span>
    </div>
    <div class="heading">
        <span class="text">I am a backend developer specializing in the MEAN stack, with foundational knowledge in
            frontend technologies.</span>
        <p class="description">
            I create dynamic web applications that blend functionality, performance, and scalability to turn your ideas
            into reality.</p>
    </div>

    <div class="boxes">

        <div class="box">
            <span class="box-text">Experience</span>
            <span class="box-value">1.5 Years</span>
        </div>
        <div class="box">
            <span class="box-text">Projects</span>
            <span class="box-value">5+</span>
        </div>
    </div>

    <!-- <div class="boxes">
        <div class="box">
            <span class="box-text">Clients</span>
            <span class="box-value">10+</span>
        </div>

        <div class="box">
            <span class="box-text">Hobbies</span>
            <span class="box-value">Readings</span>
        </div>  

    </div> -->
</div>