<div class="experience-container">
    <div class="header-section">
        <div>Experience</div>
    </div>
    <div class="experience-section">
        <div class="experience-content">
            <div class="full-time">
                <div class="time-period">
                    <h5 class="duration">Aug-2023 - Present</h5>
                </div>
                <div class="details">
                    <div class="heading">
                        Associate Software Engineer
                        <p class="sub-heading">Relinns Technologies Private Limited</p>
                    </div>
                    <div class="description">
                        <p> of Mustache template language, allows developers to create semantic HTML templates with
                            minimal
                            fuss. This article dives into the essentials of Handlebars, focusing on its syntax and
                            practical
                            use cases with code examples, assuming you’re already familiar with its setup and
                            installation.
                        </p>
                    </div>
                    <div class="technologies">
                        <p class="tech">Angular</p>
                        <p class="tech">NodeJs</p>
                        <p class="tech">ExpressJs</p>
                        <p class="tech">MongoDB</p>
                        <p class="tech">Git</p>
                        <p class="tech">Gitlab</p>
                        <p class="tech">VS Code</p>
                        <p class="tech">Socket</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="experience-content">
            <div class="full-time">
                <div class="time-period">
                    <h5 class="duration">Jan-2023 - Jul-2023</h5>
                </div>
                <div class="details">
                    <div class="heading">
                        Web Developer Intern
                        <p class="sub-heading">Relinns Technologies Private Limited</p>
                    </div>
                    <div class="description">
                        <p> of Mustache template language, allows developers to create semantic HTML templates with
                            minimal
                            fuss. This article dives into the essentials of Handlebars, focusing on its syntax and
                            practical
                            use cases with code examples, assuming you’re already familiar with its setup and
                            installation.
                        </p>
                    </div>
                    <div class="technologies">
                        <p class="tech">HTML</p>
                        <p class="tech">CSS</p>
                        <p class="tech">SASS</p>
                        <p class="tech">Bootstrap</p>
                        <p class="tech">JavaScript</p>
                        <p class="tech">TypeScript</p>
                        <p class="tech">Angular</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="internship">
            <div class="time-period">
                2022-2023
            </div>
            <div class="details">
                <div class="heading">
                    Full Stack Developer
                    <p>Relinns Technologies Private Limited</p>
                </div>
                <div class="description">
                <p>  of Mustache template language, allows developers to create semantic HTML templates with minimal fuss. This article dives into the essentials of Handlebars, focusing on its syntax and practical use cases with code examples, assuming you’re already familiar with its setup and installation.</p>
                </div>
            </div>
        </div> -->
</div>