<div class="contact-container">
    <div class="upper-section">
        <div class="title">
            <span class="title-text">Contact</span>
        </div>
        <div class="contact">
            <span class="text">Let's Get in Touch</span>
            <p class="description">
                I’m interested in freelance opportunities. If you have a project that you want to get started or think
                you need my help with something, don’t hesitate to contact me.</p>
        </div>
    </div>

    <div class="lower-section">
        <div class="column-1">
            <div class="head">
                <span class="text">Sukhveer Singh</span>
                <!-- <span class="text">LinkedIn</span> -->

            </div>
            <div class="info">
                <span class="text">MEAN Stack Developer</span>
            </div>
        </div>
        <div class="column-2">
            <div class="email">sukhveersingh2827gmail.com</div>
            <div class="phone">+91 9478887128</div>
        </div>
    </div>
    <div class="divider">
        <br>
    </div>
    <div class="name">
        <span class="text">SUKHVEER SINGH</span>
    </div>
</div>