<div class="outter">
    <div class="nav">
        <div class="icon-name">
            <span class="icon">
                <img class="logo" src="../assets/images/logo.png">
            </span>
            <span class="name">Sukhveer</span>
        </div>

        <div class="links">
            <div class="link">Home</div>
            <div class="link">About</div>
            <div class="link">Experience</div>
            <div class="link">Projects</div>
            <div class="link">Contact</div>
        </div>
    </div>

    <div class="content">
        <div class="heading">
            <div class="title">Hello, I'm Sukhveer 👋</div>
            <!-- <span class="name">Sukhveer Singh</span> -->
        </div>
        <div class="text">
            <div class="name">MEAN Stack developer building robust & scalable systems</div>
        </div>
        <div class="email">
            <span class="email-text" >Email Me</span>
        </div>
    </div>
    <div class="icon-image">
        <span class="icon">
            <img class="logo" src="../assets/images/flower.png">
        </span>
    </div>
</div>