.container {
    // background-image: url('../assets/images/backgroundjpg.jpg');
    background-image: url('../assets/images/marble.jpg');
    animation: 3s infinite alternate slidein;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    .nav-bar {
        // background-color: #f7f2f2;
        padding: 70px 40px 20px;

        .top-container {
            background-color: #191919;
            border: 1px solid #444646;
            border-radius: 32px;

            display: flex;
            justify-content: center;
            // padding: 10px;

            // margin: 0 100px;
            .nav-components {
                // padding: 20px;

                // .component {
                padding: 12px 16px;
                background-color: floralwhite;
                border-radius: 24px;
                // border: 1px solid blue;
                margin: 12px;
                font-family: "Silka";
                font-size: 14px;
                // }
            }
        }
    }

    .image-container {
        // height: 50vh;
        padding: 0px 64px;
        // background-color: #f7f2f2;

        .image {
            height: 100%;
        }
    }

    .name-container {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        width: 100%;

        .card-holder {
            background-color: #1f2321a8;
            margin: 76px 180px;
            border: 5px solid #a3a2a1;
            border-radius: 36px;
            height: 364px;
            position: relative;
            width: 58%;

            .chess-image {
                height: 265px;
                position: absolute;
                right: 0;
                bottom: 60px;
            }

            .mean-image {
                height: 35px;
                top: 50px;
                position: absolute;
                left: 54px;
                border-radius: 6px;
            }

            .developer-logo {
                height: 35px;
                top: 24px;
                position: absolute;
                right: 24px;
            }

            .experience-logo {
                height: 35px;
                bottom: 20px;
                position: absolute;
                right: 28px;
                border-radius: 6px;
            }
        }

        .name {
            font-size: 50px;
            position: absolute;
            color: #ffffff;
            left: 50px;
            top: 106px;
            font-family: 'Silka';
        }

        .description {
            font-size: 16px;
            width: 85%;
            font-family: 'Silka';
        }

        .job-title {
            font-size: 32px;
            color: azure;
            bottom: 36px;
            left: 50px;
            font-family: 'Silka';
            position: absolute;
        }
    }
}


.first-section {
    height: 100vh;
    background: linear-gradient(#000000, #59595a);
    width: 100vw;

    .box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 36px;

        .box {
            width: 336px;
            height: 264px;
            background-color: #59595a;
            border: 1px solid white;
            border-radius: 50px;
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}