<!-- <div class="nav-bar">
  <div class="top-container">
    <div class="nav-components" *ngFor="let component of navComponenets">
      <span class="component">{{component}}</span>
    </div>
  </div>
</div>
<div class="image-container">
    <img class="image" src='../assets/images/home.png'>
</div> -->


<div class="container">
<div class="nav-bar">
  <div class="top-container">
    <div class="nav-components" *ngFor="let component of navComponenets">
      <span class="component">{{component}}</span>
    </div>
  </div>
</div>

<div class="name-container">
  <div class="name">Sukhveer</div>
  <div class="name">Singh</div>
</div>
<!-- <div class="image-container">
    <img class="image" src='../assets/images/home.png'>
</div> -->
</div>