<div class="container">
    <div class="image-container">
      <div class="nav-bar">
        <div class="top-container">
          <div class="nav-components" *ngFor="let component of navComponenets">
            <span class="component">{{component}}</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="name-container">
      <div class="card-holder">
        <img class="mean-image" src="../assets/images/logo-mean.png">
        <img class="developer-logo" src="../assets/images/developer-logo.png">
        <img class="experience-logo" src="../assets/images/year-logo-fotor.png">
        <div class="name">Sukhveer Singh
          <p class="description">Bridges the front-end and back-end, building web applications from scratch.</p>
        </div>
  
        <div class="job-title"><span>Backend Developer</span></div>
        <img class="chess-image" src="../assets/images/chess.png">
      </div>
    </div>
  </div>
  <div class="first-section">
    <div class="box-container">
      <div class="box">
        <span>Box 1</span>
      </div>
    </div>
  </div>